name: build with coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn clean jacoco:prepare-agent test install jacoco:report

      # Runs a set of commands using the runners shell
      
    - name: Run a multi-line script
      run: |
          echo setup token
          export CODACY_PROJECT_TOKEN=a9d3fdfb91534f119d608e1d8d54b40b
          echo run upload command
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report -l Java $(find **/jacoco*.xml -printf '-r %p ')
          echo report command execution complete
